.upper-navbar {
  width: 100vw;
  height: 2.5vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.lower-navbar {
  width: 100vw;
  height: 2.5vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
}

li:hover {
  color: #afaeb2;
}

a {
  color: inherit;
}

.navbar-left-item{
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  float: left;
}

.navbar-right-item{
  margin-top: 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  float: right;
}