:root {
    --title-in-time: 2s;
    --menu-in-time: 1.3s;
  }

.centerElement {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.centerContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.menuContainer {
  display: inline-block;
  animation: fadeIn linear var(--menu-in-time);
  -webkit-animation: fadeIn linear var(--menu-in-time);
  -moz-animation: fadeIn linear var(--menu-in-time);
  -o-animation: fadeIn linear var(--menu-in-time);
  -ms-animation: fadeIn linear var(--menu-in-time);
}

.menuItem {
  display: inline-block;
  margin: 0 2vw 0 2vw;
  cursor: pointer;
}

.menuItem:after {
  display: block;
  content: "";
  border-bottom: solid 1px #000000;
  padding-bottom: 0.7vh;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.menuItem:hover:after {
  transform: scaleX(1);
}

.fromLeft:after {
  transform-origin: 0% 50%;
}

.carouselContainer {
  padding-top: 6vh;
  animation: fadeIn linear var(--menu-in-time);
  -webkit-animation: fadeIn linear var(--menu-in-time);
  -moz-animation: fadeIn linear var(--menu-in-time);
  -o-animation: fadeIn linear var(--menu-in-time);
  -ms-animation: fadeIn linear var(--menu-in-time);
}

.projectTitle {
  margin-bottom: 5vh;
  animation: fadeIn ease-in var(--title-in-time);
  -webkit-animation: fadeIn ease-in var(--title-in-time);
  -moz-animation: fadeIn ease-in var(--title-in-time);
  -o-animation: fadeIn ease-in var(--title-in-time);
  -ms-animation: fadeIn ease-in var(--title-in-time);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.invisible {
  visibility: hidden;
}

.carouselSpacePadding {
  padding-top: 6vh;
}